# --- Orbital Mechanics & Data Processing ---
scipy==1.17.1
pandas==3.0.1
numpy==2.4.3

# --- Data Visualization ---
matplotlib==3.10.8
seaborn==0.13.2
statsmodels==0.14.6

# --- Machine Learning ---
torch==2.11.0
tensorboard==2.20.0
scikit-learn==1.6.1
codecarbon==2.8.2

# --- Development & Testing ---
jupyterlab==4.5.6
pytest==9.0.3